body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Fondo modal: negro con opacidad al 50% */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Ventana o caja modal */
.contenido-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 300px;  //AQUI SE MODIFICA EL ANCHO DE LA POP UP
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation-name: fadeInFromCenter;
  animation-duration: 0.5s;
  text-align: center; /* Agregamos este estilo para centrar el texto */
}

/* Animación */
@keyframes fadeInFromCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Botón cerrar */
.cerrar {
  color: #555;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px; /* Ajusta el margen superior según tu preferencia */
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
}

/* Estilos adicionales para el botón de abrir modal */
#abrirModal {
  background-color: #2fb4cc; /* Cambiado para que coincida con el color de las tarjetas */
  color: #fff; /* Letras blancas */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#abrirModal:hover {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

/* Estilos para el contenido dentro de la ventana modal */
.contenido-modal h2 {
  color: #333;
}

.contenido-modal p {
  color: #666;
  margin: 0; /* Añadimos este estilo para quitar el margen predeterminado y centrar el texto */
}

/* Estilos para los botones de abrir y cerrar modales */
.abrir-modal, .cerrar-modal {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #2fb4cc;
  background-color: #fff;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  font-size: 14px; /* Ajusta el tamaño de la letra a tu preferencia */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 5px;
}

.abrir-modal:hover, .cerrar-modal:hover {
  background-color: #2fb4cc;
  color: #FFFFFF;
}
